<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/palindromeresult" method="post">
        Enter text: <input type="text" name="text">
        <br>
        <input type="submit" value="2">
        
    </form>

<br><br>

    <form action="/divisible" method="post">
        Enter number:  <input type="number" name="number">
        <br>
        <input type="submit" value="1">
    </form>
    
</body>
</html>