<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzza</title>
</head>
<body>
    <form action="/result" method="post">
        Pepperoni<input type="checkbox" name="topping" value="Pepperoni">
        Mushrooms<input type="checkbox" name="topping" value="Mushrooms">
        Onions<input type="checkbox" name="topping" value="Onions">
        Olives<input type="checkbox" name="topping" value="Olives">
        <input type="submit">
    </form>
</body>
</html>